<div class='demo-app'>
    <div class='demo-app-main'>
        <full-calendar *ngIf='calendarVisible()' [options]='calendarOptions()'>
            <ng-template #eventContent let-arg>
                <b>{{ arg.timeText }}</b>
                <i>{{ arg.event.title }}</i>
            </ng-template>
        </full-calendar>
    </div>
    <p-dialog [(visible)]="workspaceDialog" [style]="{width: '450px'}" [header]="selectTask.name" [modal]="true"
        class="p-fluid">
        <ng-template pTemplate="content">
            <div class="flex flex-col justify-center items-center">
                <div class="time flex flex-col justify-center items-center">
                    <p>From <span>{{selectTask.start_date | date: 'medium'}}</span></p>
                    <p>To <span>{{selectTask.end_date | date: 'medium'}}</span></p>
                </div>
                <div class="flex gap-3 justify-center items-center mt-3">
                    <span
                        [class]="'task-badge status-' + mapStatus(selectTask.status).toLowerCase()">{{mapStatus(selectTask.status)}}</span>
                    <span
                        [class]="'priority-badge priority-' + mapPriority(selectTask.priority).toLowerCase()">{{mapPriority(selectTask.priority)}}</span>
                </div>
                <hr class="w-48 h-1 mx-auto my-4 bg-gray-300 border-0 rounded md:my-10 dark:bg-gray-700">
                <div class="focus-timer flex flex-col items-center">
                    <p class="text-2xl font-bold">{{ formatTime(remainingTime) }}</p>
                    <div class="flex gap-3 justify-center items-center">
                        @if (!startTimer) {
                        <p-button [disabled]="!startTimerCheck" styleClass="w-[150px]" (click)="startFocusTimer()"
                            label="Start Timer" severity="success"></p-button>
                        } @else if (startTimer && !timerPaused) {
                        <p-button styleClass="w-[150px]" (click)="pauseFocusTimer()" label="Pause Timer"
                            severity="warning">
                        </p-button>
                        } @else if (startTimer && timerPaused) {
                        <p-button styleClass="w-[150px]" (click)="resumeFocusTimer()"
                            label="Resume Timer" severity="info"></p-button>
                        }
                        <p-button [disabled]="!startTimer" styleClass="w-[150px]" (click)="endFocusTimer()"
                            label="End Timer" severity="danger"></p-button>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dialog>
</div>