<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img src="assets/layout/images/{{layoutService.config().colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg"
            alt="logo">
        <span>AI Study Planner</span>
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button"
        (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu"
        [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <button pButton (click)="userMenuRef.toggle($event)" class="p-link layout-topbar-button">
            <img [src]="this.user.avatar !== undefined && this.user.avatar !== '' ? this.user.avatar : 'https://static.vecteezy.com/system/resources/previews/005/129/844/non_2x/profile-user-icon-isolated-on-white-background-eps10-free-vector.jpg'"
                alt="Image" height="30" class="rounded-full">
            <span>Profile</span>
        </button>
    </div>
</div>
<p-menu #userMenuRef [model]="userMenu" [popup]="true" appendTo="body">
    <ng-template #submenuheader let-item>
        <span class="text-primary font-bold">{{ item.label }}</span>
    </ng-template>
    <ng-template #item let-item>
        <a pRipple class="flex items-center p-menu-item-link">
            <span [class]="item.icon"></span>
            <span class="ml-2">{{ item.label }}</span>
            <p-badge *ngIf="item.badge" class="ml-auto" [value]="item.badge" />
            <span *ngIf="item.shortcut"
                class="ml-auto border border-surface rounded bg-emphasis text-muted-color text-xs p-1">
                {{ item.shortcut }}
            </span>
        </a>
    </ng-template>
    <ng-template #end>
        <button pRipple
            class="relative overflow-hidden w-full border-0 bg-transparent flex items-start p-2 pl-4 hover:bg-surface-100 dark:hover:bg-surface-800 rounded-none cursor-pointer transition-colors duration-200">
            <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" class="mr-2"
                shape="circle" />
            <span class="inline-flex flex-col">
                <span class="font-bold">Amy Elsner</span>
                <span class="text-sm">Admin</span>
            </span>
        </button>
    </ng-template>
</p-menu>

<p-dialog [(visible)]="createUserModal" [style]="{width: '450px'}" header="Upgrade to Member" [modal]="true"
class="p-fluid">
<ng-template pTemplate="content">
    <span class="text-xl font-bold text-blue-600 p-4 border-2 border-blue-600 text-center rounded-xl mb-3 block">Upgrade to add more tasks and use AI</span>
    <div class="field">
        <label for="name">Email</label>
        <input type="email" pInputText id="email" [(ngModel)]="userForm.email" required autofocus
            [ngClass]="{'ng-invalid ng-dirty' : submittedUser && !userForm.email}" />
        <small class="ng-dirty ng-invalid text-red-500" *ngIf="submittedUser && !userForm.email">Email is required.</small>
    </div>
    <div class="field">
        <label for="password">Password</label>
        <p-password id="password" [(ngModel)]="userForm.password" placeholder="Password" [toggleMask]="true"
            styleClass="mb-5" inputStyleClass="w-full p-3 md:w-30rem"></p-password>
        <small class="ng-dirty ng-invalid text-red-500" *ngIf="submittedUser && !userForm.password">Password is required.</small>
    </div>
</ng-template>

<ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
        (click)="hideUserDialog()"></button>
    <button pButton pRipple label="Upgrade" icon="pi pi-check" class="p-button-text"
        (click)="saveUser()"></button>
</ng-template>
</p-dialog>
<p-toast></p-toast>